html,
body {
  height: 100%;
  background-color: #33334c!important;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#renderCanvas {
  position: absolute;
  left: 0px;
	top: 0px;
  height: 100%;
	bottom: 50px;
	width: 100%;
}

.controls {
  border-radius: 2.5rem;
  background: #393939;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: .25rem 2rem;
  position: fixed;
  transition: padding 400ms;
  transform: translateX(-50%);
  width: 80%;
  left: 50vw;
  bottom: 1rem;
}

.controls > button {
  background-color: transparent;
  border-width: 0px;
  color: #FFF;
}

.controls > button.active {
  background-color: #797979;
}

.controls > button > svg {
  width: 2rem;
}

.controls > button > span {
  display: none;
}

@media (min-width: 520px) {
  .controls {
    width: fit-content;
    bottom: 2rem;
  }

  .controls > button > span {
    display: block;
  }
}